.welcome {
  background-color: #ffe4c4;
  margin: 50px;
  padding: 100px;
  border: 1px solid black;
}

.info {
  margin: 50px;
  display: flex;
  justify-content: flex-start;
}

.graphic {
  margin: 0 100px;
  padding: 100px;
  background-color: #ffe4c4;
  border-radius: 50%;
}

.description {
  padding: 50px 300px;
  border: 1px solid black;
}
